* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    url("//images02.nicepage.com/c461c07a441a5d220e8feb1a/fbda0fe3ac0855448766ce16/v-min.jpg");
  background-size: cover;
  background-position-x: right;
  height: 100vh;
}

button {
  cursor: pointer;
}

.header__nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  height: 50px;
  width: 360px;
  margin-top: 30px;
  margin-bottom: 20px;
  position: relative;
  border-radius: 25px;
  background-color: #000000c4;
}

.btn {
  padding: 10px 25px;
  color: #c3c3c3;
  background-color: transparent;
  font-size: 20px;
  border-radius: 26px;
  transition: 0.5s ease-in-out;
}

.active {
  color: #fff !important;
  font-size: 22px;
}

.slide-btn {
  border-radius: 25px;
  border: 1px #fff solid;
  width: 115px;
  height: 50px;
  position: absolute;
  left: 0;
  transition: 0.5s ease-in-out;
}

.left {
  left: 0;
}

.center {
  left: 124px;
}

.right {
  left: 245px;
}

.content {
  width: 800px;
  height: 500px;
  background-color: #0000009e;
  border-radius: 22px;
  color: white;
  overflow: hidden;
}

.home-page {
  width: 100%;
  display: flex;
  padding: 20px 60px;
  align-items: center;
  color: white;
  gap: 60px;
  justify-content: space-evenly;
  font-size: 22px;
  text-align: justify;
  animation-duration: 1.2s;
  animation-name: slideIn;
}

.home-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 440px;
}

.home-page .chef-img {
  height: 457px;
}

.menu-page {
  width: 100%;
  line-height: 1.5rem;
  padding: 40px;
  display: flex;
  gap: 50px;
  align-items: flex-start;
  animation-duration: 1.2s;
  animation-name: slideIn;
}

.menu-page em {
  text-decoration: underline;
}

.about-page {
  width: 100%;
  display: flex;
  padding: 40px;
  gap: 50px;
  font-size: 18px;
  line-height: 1.5rem;
  animation-duration: 1.2s;
  animation-name: slideIn;
}

.about-page .about-img {
  height: 420px;
}

@keyframes slideIn {
  from {
    margin-left: 50%;
    opacity: 0%;
  }

  to {
    margin-left: 0%;
    opacity: 100%;
  }
}

@media screen and (max-width: 760px) {

  .content{
    width: 90%;
    height: 90%;
    overflow: scroll;
  }

  .home-page,
  .menu-page,
  .about-page {
    flex-direction: column;
    padding: 20px 35px;
  }

  .home-page{
    gap: 20px;
  }

  .home-text{
    height: auto;
  }
}
